In [5]:
import pandas as pd

In [11]:
pd.__version__

'1.1.5'

In [28]:
df= pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.00,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.00,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.00,0.3,18.95,2.5
10,2,2021-01-01 00:15:52,2021-01-01 00:38:07,3,6.11,1,N,164,255,1,20.5,0.5,0.5,0.00,0.00,0.3,24.30,2.5
11,2,2021-01-01 00:46:36,2021-01-01 00:53:45,2,1.21,1,N,255,80,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79,0.0
12,1,2021-01-01 00:10:46,2021-01-01 00:32:58,2,7.40,1,N,138,166,2,24.5,2.5,0.5,0.00,6.12,0.3,33.92,0.0
13,2,2021-01-01 00:31:06,2021-01-01 00:38:52,5,1.70,1,N,142,50,1,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5
14,2,2021-01-01 00:42:11,2021-01-01 00:44:24,5,0.81,1,N,50,142,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5
15,2,2021-01-01 00:17:48,2021-01-01 00:21:55,1,1.01,1,N,236,237,1,5.5,0.5,0.5,1.00,0.00,0.3,10.30,2.5
16,2,2021-01-01 00:33:38,2021-01-01 00:38:37,1,0.73,1,N,142,239,1,5.5,0.5,0.5,2.79,0.00,0.3,12.09,2.5
17,2,2021-01-01 00:47:56,2021-01-01 00:52:53,1,1.17,1,N,238,166,1,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5
18,2,2021-01-01 00:04:21,2021-01-01 00:07:58,1,0.78,1,N,239,238,1,4.5,0.5,0.5,1.66,0.00,0.3,9.96,2.5
19,2,2021-01-01 00:18:36,2021-01-01 00:27:10,2,1.66,1,N,151,142,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5
20,2,2021-01-01 00:43:41,2021-01-01 00:48:17,3,0.93,1,N,239,142,2,5.5,0.5,0.5,0.00,0.00,0.3,9.30,2.5
21,2,2021-01-01 00:56:30,2021-01-01 01:02:03,2,1.16,1,N,238,142,1,6.5,0.5,0.5,1.54,0.00,0.3,11.84,2.5
22,1,2021-01-01 00:16:27,2021-01-01 00:25:36,0,2.20,1,N,249,137,3,9.0,3.0,0.5,0.00,0.00,0.3,12.80,2.5
23,1,2021-01-01 00:37:59,2021-01-01 01:01:37,0,3.60,1,N,107,163,1,17.0,3.0,0.5,10.00,0.00,0.3,30.80,2.5
24,1,2021-01-01 00:37:40,2021-01-01 01:04:46,2,19.10,1,N,132,3,2,52.0,0.5,0.5,0.00,6.12,0.3,59.42,0.0
25,1,2021-01-01 00:54:24,2021-01-01 01:16:33,1,5.40,1,N,48,226,2,20.0,3.0,0.5,0.00,0.00,0.3,23.80,2.5
26,2,2021-01-01 00:34:37,2021-01-01 00:47:22,4,3.15,1,N,238,162,1,12.5,0.5,0.5,2.00,0.00,0.3,18.30,2.5
27,2,2021-01-01 00:06:24,2021-01-01 00:23:40,1,4.65,1,N,4,43,1,17.0,0.5,0.5,2.00,0.00,0.3,22.80,2.5
28,2,2021-01-01 00:35:17,2021-01-01 00:57:17,1,4.07,1,N,48,41,1,18.0,0.5,0.5,4.36,0.00,0.3,26.16,2.5
29,1,2021-01-01 00:24:30,2021-01-01 00:46:32,1,14.30,1,N,132,226,2,39.0,0.5,0.5,0.00,0.00,0.3,40.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2,2021-01-04 13:08:29,2021-01-04 13:22:01,1,2.18,1,N,238,163,1,11.0,0.0,0.5,1.00,0.00,0.3,15.30,2.5
99971,2,2021-01-04 13:36:35,2021-01-04 13:39:12,1,0.59,1,N,140,262,1,4.0,0.0,0.5,1.46,0.00,0.3,8.76,2.5
99972,2,2021-01-04 13:42:00,2021-01-04 13:54:11,1,3.38,1,N,262,161,1,13.0,0.0,0.5,4.00,0.00,0.3,20.30,2.5
99973,2,2021-01-04 13:13:49,2021-01-04 13:47:10,1,17.98,2,N,132,74,1,52.0,0.0,0.5,11.78,6.12,0.3,70.70,0.0
99974,2,2021-01-04 13:04:21,2021-01-04 13:15:33,1,2.31,1,N,41,239,2,10.0,0.0,0.5,0.00,0.00,0.3,13.30,2.5
99975,2,2021-01-04 13:45:35,2021-01-04 14:00:28,1,9.16,1,N,74,88,2,26.0,0.0,0.5,0.00,0.00,0.3,29.30,2.5
99976,2,2021-01-04 13:05:03,2021-01-04 13:19:48,1,2.76,1,N,142,263,1,13.0,0.0,0.5,3.26,0.00,0.3,19.56,2.5
99977,2,2021-01-04 13:21:35,2021-01-04 13:28:23,1,0.90,1,N,263,236,1,6.0,0.0,0.5,1.40,0.00,0.3,10.70,2.5
99978,2,2021-01-04 13:38:14,2021-01-04 13:53:59,1,2.87,1,N,140,151,1,13.0,0.0,0.5,4.08,0.00,0.3,20.38,2.5
99979,2,2021-01-04 13:58:26,2021-01-04 14:00:23,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0
99980,2,2021-01-04 13:32:21,2021-01-04 13:32:37,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0
99981,2,2021-01-04 13:00:18,2021-01-04 13:00:32,1,0.00,1,N,264,264,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0
99982,2,2021-01-04 13:03:31,2021-01-04 13:04:45,1,0.00,1,N,264,264,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0
99983,1,2021-01-04 14:15:10,2021-01-04 14:22:08,0,0.90,1,N,236,141,1,6.5,3.5,0.5,4.00,0.00,0.3,14.80,2.5
99984,1,2021-01-04 14:47:58,2021-01-04 14:59:31,0,1.70,1,N,161,141,1,9.5,3.5,0.5,2.00,0.00,0.3,15.80,2.5
99985,1,2021-01-04 14:34:05,2021-01-04 14:35:37,1,0.00,1,N,145,145,2,3.0,0.0,0.5,0.00,0.00,0.3,3.80,0.0
99986,1,2021-01-04 14:37:33,2021-01-04 14:47:11,1,0.00,1,N,145,145,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80,0.0
99987,1,2021-01-04 14:48:56,2021-01-04 14:49:47,1,0.00,1,N,145,145,2,2.5,0.0,0.5,0.00,0.00,0.3,3.30,0.0
99988,1,2021-01-04 14:40:26,2021-01-04 14:58:19,2,4.30,1,N,161,231,1,16.5,2.5,0.5,3.95,0.00,0.3,23.75,2.5
99989,1,2021-01-04 14:39:27,2021-01-04 14:44:45,0,0.80,1,N,186,246,1,5.0,2.5,0.5,2.00,0.00,0.3,10.30,2.5
99990,1,2021-01-04 14:51:56,2021-01-04 14:58:26,0,0.90,1,N,100,170,2,6.0,2.5,0.5,0.00,0.00,0.3,9.30,2.5
99991,2,2021-01-04 14:02:14,2021-01-04 14:09:02,4,1.40,1,N,238,143,1,7.0,0.0,0.5,1.00,0.00,0.3,11.30,2.5
99992,2,2021-01-04 14:11:52,2021-01-04 14:18:24,3,1.06,1,N,143,239,1,6.5,0.0,0.5,1.47,0.00,0.3,11.27,2.5
99993,2,2021-01-04 14:37:40,2021-01-04 14:52:29,3,5.37,1,N,100,265,1,17.5,0.0,0.5,6.51,11.75,0.3,39.06,2.5
99994,1,2021-01-04 14:25:11,2021-01-04 14:39:53,1,2.70,1,N,151,163,1,12.0,2.5,0.5,0.00,0.00,0.3,15.30,2.5
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.00,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.00,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.00,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.00,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.00,0.3,8.30,2.5

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [9]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 1min 8s

In [ ]:
from time import time

In [12]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

Inserted another chunk..., took 88.262 seconds
Inserted another chunk..., took 69.007 seconds
Inserted another chunk..., took 52.237 seconds
Inserted another chunk..., took 44.862 seconds
Inserted another chunk..., took 42.432 seconds
Inserted another chunk..., took 45.062 seconds
Inserted another chunk..., took 41.417 seconds
Inserted another chunk..., took 42.573 seconds
Inserted another chunk..., took 42.006 seconds
Inserted another chunk..., took 39.988 seconds
Inserted another chunk..., took 41.555 seconds

c:\Users\mahsa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Inserted another chunk..., took 40.519 seconds
Inserted another chunk..., took 27.889 seconds

StopIteration: